 *{
     margin: 0px;
     padding: 0px;
 }

 body{
    position:relative;
 }

 header{
     background-color: rgb(34,36,42);
     color: rgb(255,255,255);
     height: 60px;
     min-width: 1300px;
     display: flex;
     flex-direction: row;
 }
 h1{
     width: 90%;
     position: relative;
     top:10px;
     left:30px;
 }

 .titre2{
     text-align: center;
 }
.footer_connexion{
    display: block;
    position: relative;
    right: 0px;
    top:20px;
}
 .footer_connexion a{
     color:rgb(255,255,255);
     text-decoration: none;
 }

 .footer_connexion a:hover{
     color:rgb(78,205,186);
 }

section{
    display: flex;
    flex-direction: row;
    /* min-height:600px; */
    /* height: 100%; */
    position: relative;
}
.div_boulier{
   display: flex;
   justify-content: center;
   padding-top: 30px;
   padding-bottom: 20px;
}
.img_boulier{
    width: 100px;
    height: 100px;
}

.menu{
    background-color: rgb(47,50,58);
    
    width: 15%;
    min-width: 200px;
    /* height: 100%; */
}
.menu a{
   text-decoration: none;
   color: rgb(173,178,183);
}

.menu ul a li{
   padding: 10px 5px;
   margin: 5px 6px 0px 6px;
   background-color: rgb(47,50,58);
}

.menu ul a li:hover{
   background-color: rgb(78,205,186);
   color:rgb(234,234,234);
}

.active_page li {
    background-color: rgb(78,205,186) !important;
    color: rgb(255,255,255) !important;
  }

.page{
    width: 85%;
    min-width:1100px;
}

.texte{
    background-color: rgb(234,234,234);
    color:rgb(47,50,58);
    height: 100%;
    min-height:85vh;
}



.general_machine{
    height: 400px;
    width: 1000px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: rgb(223,223,225);
    box-shadow: 0px 5px 5px rgb(202,202,202);

}

.titre_machine{
    height: 25%;
    background-color: rgb(204,209,217);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img_copier{
    width: 10%;
    min-width: 100px;
    text-align: center;
}

.img_copier img{
    height: 60px;
    width: 60px;
}

.detail_machine{

    padding-top: 25px;
}

.intitule{
    width:50%;

    text-align: left;
}

.total{
    width:30%;
    padding: 5px;
}

.maintenance{
    width:5%;
    display: flex;
    justify-content: end;
    align-items: start;
    height: 100%;

}

.maintenance img{
    height: 20px;
    width: 20px;
    margin-top: 20px;
}


.tableau_compteurs{ 
    padding-top: 40px;
    margin-left: 40px;
    width: calc(100% - 80px);
    height: 50%;
    border-collapse: collapse;
    box-shadow: 0px 5px 5px rgb(202,202,202);
}

.ligne1{
    background-color: rgb(204,209,217);
    height: 40px;
}

.ligne2{
    background-color: rgb(234,234,234);
    height: 40px;
}

.tab_titre{
    text-align: left;
    padding-left: 20px;
    width: 40%;
    font-weight: bold;
}

.tab_compteur{
    width: 12%;
    font-style: italic;
    text-align: center;
}

.tab_compteur_tot{
    width: 20%;
    font-weight: bold;
    text-align: center;
}

.tab_compteur_cout{
    font-weight: bold;
    text-align: center;
    color: rgb(255,107,107);
}

.bouton{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.bouton p{
    /* border:thick double rgba(72, 202, 228, 0.6); */
    background-color: rgb(78,205,186) ;
    width:300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
	color: black;
    font-weight: bold;
}
.bouton a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bouton p:hover{
    box-shadow: 10px 10px 10px rgb(150,150,150);
}

.disable_bouton{
    pointer-events: none;
    opacity: 0.33;
}

.error_message, .en_cours{
    color: rgb(255,107,107);
    text-decoration: underline;
}

.table_autre{
    min-height: 400px;
    width: 1000px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: rgb(223,223,225);
    box-shadow: 0px 5px 5px rgb(202,202,202);
    display: flex;
    align-items: center;
}

.tableau_base{
    padding-top: 40px;

    margin-left: 40px;
    width: calc(100% - 80px);
    border-collapse: collapse;
    box-shadow: 0px 5px 5px rgb(202,202,202);
    background-color: rgb(204,209,217);
}

.tab_tr{
    height: 40px;
    font-size: 1.3rem;
}


.tab_titre_bis{
    text-align: left;
    padding-left: 20px;
    width: 20%;
    font-weight: bold;
}
.tab_1{
    width: 30%;
    font-weight: bold;
    text-align: center;
}
.tab_1_0{
    width: 40%;
    font-weight: bold;
    text-align: center;
}

.tab_2{
    text-align: center;
}

.tab_3{
    display:flex;
    justify-content: space-around;
}
.tab_input{
    background-color: rgb(234,234,234);
    height: 30px;
    width: 150px;
    text-align: center;
    border: none;
    font-style: italic;
    font-size: 1.2rem;
}

.tab_button{
    background-color: rgb(78,205,186);
    color: rgb(255,255,255);
    width: 150px;
    height: 30px;
    border: none;
    font-size: 1.2rem;
}

.tab_button:hover{
    box-shadow: 10px 10px 10px rgb(150,150,150);
    cursor: pointer;
}

.tab_4{
    font-style: italic;
    text-align: center;
}
.tab_4B{
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.modif_printer{
    
    background-color: rgb(78,205,186);
    color: rgb(255,255,255);
    border: none;
    font-size: 1.2rem;
    width:150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
.modif_printer:hover{
   
    box-shadow: 10px 10px 10px rgb(150,150,150);
}

.del_printer{
   
    background-color: rgb(255,107,107);
    color: rgb(255,255,255);
    border: none;
    font-size: 1.2rem;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
.del_printer:hover{
   box-shadow: 10px 10px 10px rgb(150,150,150);
}

.add_printer{
    background-color: rgb(252,179,34);
    width:300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: 1.2rem;
}


.add_printer:hover{
    box-shadow: 10px 10px 10px rgb(150,150,150);
}

.modif{
    width: 420px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.para1{
    width:180px;
    height: 15px;
    padding: 15px 5px 15px 5px;
    text-align: center;
    font-size: 1.2rem;
}

.tableau_base2{
    padding-top: 40px;
    height: 200px;
    margin-left: 40px;
    width: calc(100% - 80px);
    border-collapse: collapse;
    box-shadow: 0px 5px 5px rgb(202,202,202);
    background-color: rgb(204,209,217);
}

.bouton_modif{
    text-align: center;
    margin-top: 20px;
}

.user_connect{
    color: rgb(255,255,255) !important;
    text-align: center;
}


footer {
    background-color: rgb(78,205,186);
    color: rgb(255,255,255);
    /* height: 20px; */
    /* margin-top: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position:absolute;
    bottom:-100;
    width:100%;
    /* min-width:1000px; */
    min-width:1300px;
}